<div class="profile-header">
  <img  class="profile-image" src="http://upload.wikimedia.org/wikipedia/en/9/97/Stimpy.jpg">
  <div class="profile-handle">@<%= @user.handle %>
    <form action='/followers' method='post'>
      <input type="hidden" name="user" value="<%= @user.handle %>">
      <input type="submit" value="Followers">
      <form action='/followers' method='post'>
      <input type="hidden" name="user" value="<%= @user.handle %>">
      <input type="submit" value="Following">
  </form>
    </div>


  <div class="profile-image-clear-fix"></div>
</div>
<div class="tweet-list">
  <% @user.tweets.each do |tweet| %>
  <div class="tweet-envelope">
    <div class="tweet-user"><%= tweet.user_id %></div>
    <div class="tweet-content"><%= tweet.content %></div>
  </div>
  <% end %>
</div>
